 *,
 *::before,
 *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  font-size: 16px;
}

form{
  display: flex;
  gap: 1rem;
}

#validated{
  gap: .5rem;
  font-size: 1rem;
}

button{
  padding: 5px;
  font-size: 0.7rem;
  align-self: center;
}

header{
  display: flex;
  justify-content: space-between;
}

#personalDetails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
